.header ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.header li
{
	float:left;
}

a:link,a:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active
{
	background-color:#7A991A;
}